
body {
  margin-left: 80px;
  margin-right:80px;
  color: rgb(0, 0, 0);
  background-color: #e7c8f9;
  }

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family:'Times New Roman';
}

h2 {
  text-align: center;
}

p,a,ul{
  border: 4px solid #3b1935;
  padding: 4px;
  background-color: #e2b04d;
  font-family: 'Franklin Gothic Medium';
}

div {
 width: 90px;
 height: 20px;
 background-color: #3b1935;
 border: solid #e2b04d;
 color: #e7c8f9;
 padding: 4px;
 margin: 20px;
}